In [2]:
%mv /Users/lean/Downloads/도로교통공단_부문별_노인_교통사고_20181231.csv .

In [16]:
%pwd
%ls

data/                     jupyter_basic.ipynb
file_path_setting.ipynb   pandas_cheat_sheet.ipynb

In [15]:
import pandas as pd

In [11]:
# pd.read_csv("도로교통공단_부문별_노인_교통사고_20181231.csv", encoding="cp949")
pd.read_csv("data/도로교통공단_부문별_노인_교통사고_20181231.csv", encoding="euc-kr")

     시도   시군구  발생건수  사망자수  부상자수   중상   경상  부상신고
0    서울   종로구   191     1   208   70  113    25
1    서울    중구   164     3   166   66   81    19
2    서울   용산구   170     7   177   56  111    10
3    서울   성동구   158     3   161   53  103     5
4    서울  동대문구   327     5   340  146  169    25
..   ..   ...   ...   ...   ...  ...  ...   ...
224  울산    남구   169     8   174   78   88     8
225  울산    동구    70     3    71   36   35     0
226  울산    북구    67     4    76   32   40     4
227  울산   울주군   132     7   159   55   84    20
228  세종    세종   128     8   136   61   70     5

[229 rows x 8 columns]